@model AspnetIdentityRoleBasedTutorial.Data.KategoriKamar
@{
    ViewData["Title"] = "Tambah Kategori Kamar";
}

<h1>@ViewData["Title"]</h1>

@if (ViewData.ModelState.Any())
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form asp-action="TambahTipe" method="post">
    <div class="form-group">
        <label asp-for="NamaKategori">Nama Kategori:</label>
        <input asp-for="NamaKategori" class="form-control" />
        <span asp-validation-for="NamaKategori" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Tambah</button>
</form>
